body {
	background: url('http://wallpaperscraft.ru/image/poverhnost_svetlyy_serebristyy_fon_18396_2560x1440.jpg');
}

#footer {
	position: absolute;
    text-align: center;
	margin: auto;
    bottom: 0;
    left: 43%;
    color: #0a0505;  
}

#succ {

    margin-left: 280px;
    margin-top: 1%;
    padding:30px;
    font-weight: bold;
    color:#2b2a2a;
}

#list{
    overflow: hidden;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border:1px solid #000000; 
    background-color:#00fffa; 
    color:#000; 
    width:900px; 
    height:auto; 
    position:relative; 
    left:20px;
    box-shadow: 0 0 10px 2px;
}

#comment{
    overflow: hidden;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    border:1px solid #000000; 
    background-color:#00fffa; 
    color:#000; 
    width:900px; 
    height:auto; 
    position:relative; 
    left:20px;
    box-shadow: 0 0 10px 2px;
}

#priv {

    text-align: center;
    margin-top: 1%;
    padding:30px;
    font-weight: bold;
    color:#2b2a2a;
}